$primary: hsl(0, 100%, 68%);
$primary-focus: hsl(0, 82%, 59%);
$primary-content: hsl(0, 100%, 18%);
$secondary: hsl(239, 66%, 78%);
$secondary-focus: hsl(239, 67%, 68%);
$secondary-content: hsl(239, 67%, 28%);
$accent: hsl(234, 65%, 24%);
$accent-focus: hsl(234, 66%, 43%);
$accent-content: hsl(234, 87%, 77%);
$neutral: hsl(283, 11%, 12%);
$neutral-focus: hsl(283, 11%, 22%);
$neutral-content: hsl(283, 11%, 62%);
$base-100: hsl(236, 16%, 20%);
$base-200: hsl(236, 16%, 30%);
$base-300: hsl(236, 16%, 40%);
$base-content: hsl(236, 16%, 90%);
$info: hsl(205, 87%, 72%);
$info-content: hsl(205, 87%, 22%);
$success: hsl(162, 70%, 62%);
$success-content: hsl(162, 70%, 12%);
$warning: hsl(44, 92%, 80%);
$warning-content: hsl(44, 92%, 30%);
$error: hsl(355, 82%, 76%);
$error-content: hsl(355, 82%, 26%);
